<p id="offline-msg">You appear to be offline. <%= message %></p>
<div id="offline-wrapper">
  <% @events.each do |event| %>
    <div class="event-wrapper">
      <%= render "shared/info", :event => event %>
    </div>
  <% end %>
</end>
