<h3>You appear to be offline. Here are some upcoming events that you are planning to attend</h3>
<div id="offline-wrapper">
  <% @events.each do |event| %>
    <div class="event-wrapper">
      <%= render "shared/info", :event => event %>
    </div>
  <% end %>
</end>
