<!DOCTYPE html>
<html>
  <head>
    <title>Yelp Event Assistant | Offline</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= render "shared/banner" %>
    <%= yield %>
  </body>
</html>
